---
const siteTitle = "我的个人站点"
---
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>{siteTitle}</title>
  </head>
  <body>
    <h1>欢迎访问我的网站</h1>
    <p>这是基于 Astro + GitHub Pages 搭建的个人页面</p>
  </body>
</html>
